
    <div class="uk-flex uk-flex-top uk-flex-center uk-width-4-5" style="margin: 5% auto">

        <div class="uk-card" style="border-right: 1px solid">
            <div class="uk-card-header uk-text-center">
                <h3>Создать соревнование</h3>

            </div>
            <div class="uk-card-body uk-text-left">
                <p class="uk-text-break">Тут вы мжиет создать свои соревнования</p>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a class="uk-button uk-button-primary" href="/createtest">создать</a>

            </div>
        </div>

        <div class="uk-card" style="border-left: 1px solid">
            <div class="uk-card-header uk-text-center">
                <h3>Закончить соревнование</h3>

            </div>
            <div class="uk-card-body uk-text-left">
                <p class="uk-text-break">На этой странице вы можите закончить соревнование</p>
            </div>
            <div class="uk-card-footer uk-text-center">
                <a class="uk-button uk-button-primary" href="/finishtest">Закончить</a>

            </div>
        </div>
    </div>