<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-hover">
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Количество баллов</th>
                {% for question in questions %}
                <th>Вопрос №{{question}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.user}}</td>
                <td>{{user.user_score}} из {{user.max_score}}</td>
                {% for answer in user.answers %}
                <td>{{answer}}</td>
                {% endfor %}
            </tr>
            {% endfor %}




        </tbody>
    </table>
</div>

{% csrf_token %}
<button class="uk-button uk-button-danger uk-margin-medium-top" id="finishTest" name="finishTest" value="{{test.name}}" type="submit">Завершить</button>

<script>
    $('#finishTest').on('click', function(){
        var xhr = new XMLHttpRequest()
        xhr.open('GET', `/removetest/${this.value}/`)
        xhr.send()
    });
</script>