<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyQuest</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
    <script src="https://kit.fontawesome.com/24656403b4.js" crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    {% load static %}

    {% include 'menu.html' %}
    <div class="uk-width-4-5 uk-margin-medium-top" style="margin: 0 auto" uk-filter="target: .js-filter">
        <div class="uk-grid-small uk-grid-divider uk-child-width-auto uk-felx uk-flex-center uk-flex-middle" uk-grid>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <li class="uk-active" uk-filter-control><a href="#">All</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <li uk-filter-control="filter: [data-subject='Economy']; group: data-subject"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Экономика</a></li>
                    <li uk-filter-control="filter: [data-subject='Social_science']; group: data-subject"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Обществознание</a></li>
                    <li uk-filter-control="filter: [data-subject='History']; group: data-subject"><a
                            class="uk-button uk-button-link uk-text-right" href="#">История</a></li>
                    <li uk-filter-control="filter: [data-subject='Mathematics']; group: data-subject"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Математика</a></li>
                    <li uk-filter-control="filter: [data-subject='Physics']; group: data-subject"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Физика</a></li>
                    <li uk-filter-control="filter: [data-subject='IT']; group: data-subject"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Информатика</a></li>
                </ul>
            </div>
            <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <li uk-filter-control="filter: [data-level='Pro']; group: data-level"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Мастре++</a></li>
                    <li uk-filter-control="filter: [data-level='Amateur']; group: data-level"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Мастер</a>
                    </li>
                    <li uk-filter-control="filter: [data-level='Normal']; group: data-level"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Новичек++</a></li>
                    <li uk-filter-control="filter: [data-level='Beginner']; group: data-level"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Новичек</a>
                    </li>

                </ul>
            </div>
            <!-- <div>
                <ul class="uk-subnav uk-subnav-pill" uk-margin>
                    <li uk-filter-control="filter: [data-avalibility='avalible']; group: data-avalibility"><a
                            class="uk-button uk-button-link uk-text-right" href="#">Доступны</a>
                    </li>
                </ul>
            </div> -->
        </div>

        <ul class="js-filter uk-child-width-1-2 uk-child-width-1-4 uk-text-center" uk-grid>
            {% for test in tests %}
            {% if not test.passed %}
            <li data-level="{{test.level}}" data-subject="{{test.subject}}" data-avalibility="avalible">

                <a href="/quiz/{{test.name}}" class="uk-link-reset">
                    <div class="uk-card uk-card-default uk-card-hover uk-height-medium" style="border-radius: 20px;">
                        <div class="uk-card-header" style="border: none">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">{{test.name}}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <p class="uk-text-truncate">{{test.subject}}</p>
                            <p class="uk-text-truncate">{{test.description}}</p>
                        </div>
                        <div class="uk-card-fuuter">
                            {% if test.game_mode == '1' %}
                            <p class="uk-text-truncate">Все сразу</p>
                            {% elif test.game_mode == '2' %}
                            <p class="uk-text-truncate">Вопрос за вопросом</p>
                            {% elif test.game_mode == '3' %}
                            <p class="uk-text-truncate">По командам (все сразу)</p>
                            {% else %}
                            <p class="uk-text-truncate">По командам (вопрос за вопросом)</p>
                            {% endif %}
                        </div>
                    </div>
                </a>


            </li>
            {% endif %}
            {% endfor %}

        </ul>

    </div>


</body>

</html>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>