<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyQuest</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.13.10/dist/css/uikit.min.css" />
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    {% include 'menu.html' %}
    <div style="width: 80%; margin: 0 auto">


        <div class="uk-margin-medium-top ">
            <ul class="uk-flex-center" uk-tab>
                <li class="uk-active Btn">
                    <button class="uk-button uk-button-text" style="margin: 0 auto; font-size: 20px;">Профиль</button>
                </li>
                <li class="Btn">
                    <button class="uk-button uk-button-text" style="margin: 0 auto; font-size: 20px;">Команды</button>
                </li>

                <li class="Btn">
                    <button class="uk-button uk-button-text" style="margin: 0 auto; font-size: 20px;">Викторины</button>
                </li>

            </ul>
        </div>

        <div id="MainWindowContainer">
        </div>

    </div>

</body>

</html>

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>
<style>
    * {
        transition: 0.3s;
    }
</style>

<script>
    $(function () {
        var xhr = new XMLHttpRequest()
        try {
            xhr.open('GET', `/profile/${localStorage.profile}/`)
            xhr.onload = function () {
                $('#MainWindowContainer').html(xhr.response)
            }
            xhr.send()
        } catch {
            xhr.open('GET', `/profile/2/`)
            xhr.onload = function () {
                $('#MainWindowContainer').html(xhr.response)
            }
            xhr.send()
        }

    });

    $('.Btn').on('click', {}, function (inBody) {
        var xhr = new XMLHttpRequest()
        var index = $(this).index() + 1
        localStorage.profile = index
        xhr.open('GET', `/profile/${index}/`)
        xhr.onload = function () {
            $('#MainWindowContainer').html(xhr.response)
        }
        xhr.send()
    });
</script>